@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Chivo:ital,wght@0,100..900;1,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

  

.homebox{
	position: relative;
    display: flex;
	text-align: center;
	justify-content: center;
	flex-direction: column;
	width: auto;
    height: fit-content;
	flex-wrap: wrap;
	background-color: black;
	padding-bottom: 200px;
}
.homepagecss{
	margin-top: 120px;
	color: #ffffff;
	font-size:50px;
	letter-spacing: 1px;
	font-family: "jost" , serif;
    font-weight: 300;
}
.homehr{
	width: 70%; /* Medium size width */
	max-width:5000px; /* Limit max width */
	color: #fff;
	margin:10px auto; /* Center horizontally */
  }
  
  @media (max-width: 768px) {
	hr {
	  width: 70%; /* Wider on smaller screens */
	}
  }
  
  @media (max-width: 480px) {
	hr {
	  width: 90%; /* Even wider for small screens */
	}
  }

  .usertext{
	 letter-spacing: 1px;
	 color: #e2e2e2;
	 text-align: center;
  }

  .hb{
  color: rgb(255, 255, 255);
  font-family: "Lato", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 70px;
  letter-spacing: -3px;
  }

  .Card{
	background-color: black;
}
.card-img{
	height: 400px;
	width: 400px;
}
.card-main{
	background-color: black;
	padding: 20px;
}
